
@{
    ViewBag.Title = "CreateCustomer";
}

<h2>Create New Customer</h2>

<div class="container">
    <div class="form-group">
        Client Name <input class="form-control" />
        Address <input class="form-control" />
        City<input class="form-control" />
        State <select class="form-control"><option>Alabama</option><option>Alaska</option></select>
        Zip <input class="form-control" />
        Country <input class="form-control" />
        Phone <input class="form-control" />
        Email <input class="form-control" />
    </div>
    <button class="btn btn-primary">Cancel</button>
    <button class="btn btn-primary">Create New Customer</button>
</div>
