@{
    ViewBag.Title = "ScanOrderSummary";
}
<link href="~/Content/fcss.css" rel="stylesheet" />
<h2 class="pageheading">Summary</h2>
<br />
<div class="row">
    <div class="col-sm-9">
        <table class="table table-bordered table-striped" align="center">
            <thead>
                <tr>
                    <th>Compound name</th>
                    <th>Arrival date</th>
                    <th>Weight in mg</th>
                    <th>Apperance</th>
                    <th>Molecular mass</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Floral Potasium</td>
                    <td>1/1/2016</td>
                    <td>454</td>
                    <td>Solid</td>
                    <td>3526</td>
                </tr>
                <tr>
                    <td>Floral Potasium</td>
                    <td>1/1/2016</td>
                    <td>432</td>
                    <td>Solid</td>
                    <td>3526</td>
                </tr>
                <tr>
                    <td>Floral Magnisium</td>
                    <td>1/1/2016</td>
                    <td>608</td>
                    <td>Fluid</td>
                    <td>1237</td>
                </tr>
                <tr>
                    <td>Floral Nitrate</td>
                    <td>1/1/2016</td>
                    <td>524</td>
                    <td>Fluid</td>
                    <td>6248</td>
                </tr>
                <tr>
                    <td>Floral Nitrate</td>
                    <td>1/1/2016</td>
                    <td>457</td>
                    <td>Fluid</td>
                    <td>6248</td>
                </tr>
                <tr>
                    <td>Floral Nitrate</td>
                    <td>1/1/2016</td>
                    <td>287</td>
                    <td>Fluid</td>
                    <td>6248</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3 fBorder2">
        <p class="fMarginTop10">Compound 1 - 2/2</p>
        <p>Compound 2 - 1/1</p>
        <p>Compound 3 - 3/3</p>
    </div>
</div>

