
@{
    ViewBag.Title = "ScheduleTest";
}

<h2>Schedule Tests</h2>

<div class="container">
    <div class="col-md-6" >
        <h3 class="text-center">Unscheduled</h3>
        <table class="table-bordered" align="center">
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
                <th>Order Date</th>
                <th>Due Date</th>
                <th>Schedule</th>
            </tr>
            <tr>
                <td>4759</td>
                <td>Hydrogen Coagulation</td>
                <td>04/12/2017</td>
                <td>04/21/2017</td>
                <td class="glyphicon-calendar text-center"></td>
            </tr>
            <tr>
                <td>4760</td>
                <td>Carbon Infusion</td>
                <td>04/12/2017</td>
                <td>04/21/2017</td>
                <td class="glyphicon-calendar text-center"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Scheduled</h3>
        <table class="table-bordered" align="center">
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
                <th>Order Date</th>
                <th>Due Date</th>
                <th>Scheduled Date</th>
                <th>Change Date</th>
            </tr>
            <tr>
                <td>4758</td>
                <td>Photon Collision</td>
                <td>04/12/2017</td>
                <td>04/21/2017</td>
                <td>04/13/2017</td>
                <td class="glyphicon-calendar text-center"></td>
            </tr>
            <tr>
                <td>4757</td>
                <td>Iodine Stain</td>
                <td>04/12/2017</td>
                <td>04/21/2017</td>
                <td>04/13/2017</td>
                <td class="glyphicon-calendar text-center"></td>
            </tr>
            <tr>
                <td>4756</td>
                <td>Rat Injection</td>
                <td>04/12/2017</td>
                <td>04/21/2017</td>
                <td>04/13/2017</td>
                <td class="glyphicon-calendar text-center"></td>
            </tr>
        </table>
        <br />
        <button class="btn" style="float:right">Update Schedule</button>
    </div>
</div>