
@{
    ViewBag.Title = "ViewAssay";
}

<h2>Assays</h2>
<div class="container">
    <div class="col-md-9">
        <div style="float:right">
            <button class="btn btn-primary">+ Add New</button>
            <button class="btn btn-primary">Publish Updates</button>
        </div>
        <br />
        <br />
        <br />
        <table class="table-bordered table-striped">
            <tr>
                <th>Assay ID</th>
                <th>Assay Name</th>
                <th>Description</th>
                <th>Assay Price</th>
                <th>Required Tests</th>
                <th>Optional Tests</th>
                <th>Publish</th>
                <th></th>
            </tr>
            <tr>
                <td>36</td>
                <td>ProfilingScreen</td>
                <td>This is a description of the assay</td>
                <td>$2,000.00</td>
                <td>Test 1<br />Test 2<br />Test 3<br />Test 4</td>
                <td>Test 5<br />Test 6<br />Test7</td>
                <td align="center"><input type="checkbox" /></td>
                <td><a href="#">Edit Assay</a><br /><a href="#">Delete Assay</a></td>
            </tr>
            <tr>
                <td>37</td>
                <td>PharmaScreen</td>
                <td>This is a description of the assay</td>
                <td>$1,700.00</td>
                <td>Test 1<br />Test 2<br />Test 3<br />Test 4</td>
                <td>Test 5<br />Test 6<br />Test7</td>
                <td align="center"><input type="checkbox" /></td>
                <td><a href="#">Edit Assay</a><br /><a href="#">Delete Assay</a></td>
            </tr>
            <tr>
                <td>38</td>
                <td>CustomScreen</td>
                <td>This is a description of the assay</td>
                <td>$2,100.00</td>
                <td>Test 1<br />Test 2<br />Test 3<br />Test 4</td>
                <td>Test 5<br />Test 6<br />Test7</td>
                <td align="center"><input type="checkbox" /></td>
                <td><a href="#">Edit Assay</a><br /><a href="#">Delete Assay</a></td>
            </tr>
        </table>
    </div>
</div>

