body {
}

.fheadline{
    text-decoration: underline;
}
.fbox{
    border: 3px solid black;
    min-height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
.fFloatCenterM80{
    text-align:center;
    margin-top: 80px;
}
.fBottomMargin{
    margin-bottom: 200px;
}
.fTableAjuster{
    margin-top: 50px;
    width: 850px;
}
.fBottomMargin100{
    margin-bottom: 100px;
}
.fMarginTop5{
    margin-top: 5px;
}
.fMarginTop10{
    margin-top: 10px;
}
.fMarginTop25{
    margin-top: 25px;
}
.fBorder2{
    border: 2px solid black;
}
.fBorderTop2{
    border-top: 2px solid black;
}
.fBorderLeft2{
    border-left: 2px solid black;
}
.fBorderRight2{
    border-right: 2px solid black;
}
.fPadding20{
    padding: 20px;
}
.fPaddingTop25{
    padding-top: 25px;
}
.fFloatRight{
    float: right;
}
.fFloatCenter{
    text-align: center; 
}
.fDisclaimer{
    font-size: 10px;
}
.fLargeText{
    font-size: 50px;
}
.fMarginRight20{
    margin-right: 20px;
}
.fTotalPrize{
    empty-cells: hide;
}







body { /* just for this demo. */
    padding: 30px;
}
.btn { /* just for this demo. */
    margin-top: 5px;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

